.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-img {
  max-height: 30vh;
  max-width: 20vh;
}

.App-page {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.Landing-page {
  text-align: center;
  min-height: 100vh;
  background-color: #e6e6e6;
}

.App-iframe {
  min-height: 100vh;
  width: 100%;
  display: "initial";
  position: "relative";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}

.li1 {
  float: left;
}

.li2 {
  display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #274175;
}
